.profile {
  margin: 3rem auto;
  text-align: center;
}

.profile h1 {
  font-size: 5rem;
}

.form_outer {
  z-index: 1;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_inner {
  position: absolute;
  top: 30%;
  background-color: white;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  flex-direction: column;
  padding: 25px;
}

.button_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form {
  width: 100%;
  margin: 1rem auto;
}

.control {
  display: flex;
  margin-bottom: 0.5rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #353336;
  display: block;
}

.control input {
  display: block;
  font: inherit;
  max-width: 100%;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #38015c;
  padding: 0.25rem;
  background-color: #f7f0fa;
}

.action,
.action_disabled {
  display: flex;
  justify-content: space-between;
}

.select_dialogue {
  width: 100%;
}

@media only screen and (max-width: 380px) {
  .control {
    gap: 5px;
  }

  .control input {
    font-size: 0.7rem;
  }
}
